<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Создание заявки</title>
</head>
<body>

<form name="form" action="#" th:action="@{/create}" method="get" th:object="${newTask}">
  <h1>Форма заявки</h1>
  <div><label>Наименования заявки</label><input type="text" th:field="*{nameTask}"></div>
  <div>
    <select th:field="*{importance}">
      <option th:each="listImportance : ${listImportance}"
              th:value="${listImportance}"
              th:text="${listImportance}"></option>
    </select>
  </div>


  <div>
    <label>Содержание</label>
    <textarea name="soderzhanie" th:field="*{contentTask}"></textarea>
  </div>
  <input value="Отправить" type="submit">
</div>
</div>

</form>
</body>
</html>